@import 'tailwindcss';

#root {
  margin: 0;
  padding: 0;
}

.sidebar-link-shadow {
  filter: drop-shadow(-2px 3px 2px rgba(0, 0, 0, 0.6));
}

.ripple-container {
  position: relative;
  overflow: hidden;
}

.ripple-effect {
  position: absolute;
  border-radius: 9999px;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: rgba(255, 255, 255, 0.3); /* tweak */
}

.ripple-effect-red {
  background-color: rgba(207, 1, 27, 0.4);
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

